<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.mapper.AppUserMapper">
    <resultMap type="AppUser" id="baseResult">
        <id property="id" column="id"/>
        <result property="gender" column="gender"/>
        <result property="user_name" column="user_name"/>
        <result property="user_phone" column="user_phone"/>
        <result property="password" column="password"/>
        <result property="slat" column="slat"/>
        <result property="last_login_date" column="last_login_date"/>
        <result property="last_login_ip" column="last_login_ip"/>
        <result property="avatar" column="avatar"/>
    </resultMap>

    <sql id="selectVo">
        select
        id,
                    gender,
                    user_name,
                    user_phone,
                    password,
                    slat,
                    last_login_date,
                    last_login_ip,
                    avatar,
                create_time
        from t_app_user
    </sql>

    <select id="list" parameterType="AppUser" resultMap="baseResult">
        <include refid="selectVo"/>
        <where>
            <if test="user_phone != null and user_phone != ''">
                AND user_phone like concat('%', #{user_phone}, '%')
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="AppUser">
        insert into t_app_user(
        id,
        <if test="gender != null and gender != ''">gender,</if>
        <if test="user_name != null and user_name != ''">user_name,</if>
        <if test="user_phone != null and user_phone != ''">user_phone,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="slat != null and slat != ''">slat,</if>
        <if test="last_login_date != null and last_login_date != ''">last_login_date,</if>
        <if test="last_login_ip != null and last_login_ip != ''">last_login_ip,</if>
        <if test="avatar != null and avatar != ''">avatar,</if>
        create_time
        )values(
        uuid(),
        <if test="gender != null and gender != ''">#{gender},</if>
        <if test="user_name != null and user_name != ''">#{user_name},</if>
        <if test="user_phone != null and user_phone != ''">#{user_phone},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="slat != null and slat != ''">#{slat},</if>
        <if test="last_login_date != null and last_login_date != ''">#{last_login_date},</if>
        <if test="last_login_ip != null and last_login_ip != ''">#{last_login_ip},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="AppUser">
        update t_app_user
        <set>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="user_name != null and user_name != ''">user_name = #{user_name},</if>
            <if test="user_phone != null and user_phone != ''">user_phone = #{user_phone},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="slat != null and slat != ''">slat = #{slat},</if>
            <if test="last_login_date != null and last_login_date != ''">last_login_date = #{last_login_date},</if>
            <if test="last_login_ip != null and last_login_ip != ''">last_login_ip = #{last_login_ip},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from t_app_user where id = #{id}
    </delete>

    <select id="selectByLogin" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        <where>
            AND user_phone = #{user_phone}
        </where>
    </select>
</mapper>