<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="roleName" class="layui-form-label">
                    <span class="x-red">*</span>角色名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="roleName" name="roleName" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="roleKey" class="layui-form-label">
                    <span class="x-red">*</span>角色权限
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="roleKey" name="roleKey" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="roleSort" class="layui-form-label">
                    <span class="x-red">*</span>角色排序
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="roleSort" name="roleSort" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>

        </form>
    </div>
</div>
<script th:inline="javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        form.on('submit(add)', function (data) {
            $.post('/admin/system/role/add', data.field, function (r) {
                if (r.code === 0) {
                    var index = parent.layer.getFrameIndex(window.name);//获取当前弹出层的层级
                    window.parent.location.reload();//刷新父页面
                    parent.layer.close(index);//关闭弹出层
                } else {
                    layer.alert(r.msg, {icon: 6});
                }
            });
            return false;
        });
    });
</script>

</body>
</html>