<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.mapper.AppDeviceInfoMapper">
    <resultMap type="AppDeviceInfo" id="baseResult">
        <id property="id" column="id"/>
        <result property="IMEI" column="IMEI"/>
        <result property="IMSI" column="IMSI"/>
        <result property="phone_os" column="phone_os"/>
        <result property="user_phone" column="user_phone"/>
        <result property="user_id" column="user_id"/>
    </resultMap>

    <sql id="selectVo">
        select
        id,
                    IMEI,IMSI,
                    phone_os,
                    user_phone,
                    user_id,
                create_time
        from t_app_device_info
    </sql>

    <select id="list" parameterType="AppDeviceInfo" resultMap="baseResult">
        <include refid="selectVo"/>
        where 1=1
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="AppDeviceInfo">
        insert into t_app_device_info(
        id,
        <if test="IMEI != null and IMEI != ''">IMEI,</if>
        <if test="IMSI != null and IMSI != ''">IMSI,</if>
        <if test="phone_os != null and phone_os != ''">phone_os,</if>
        <if test="user_phone != null and user_phone != ''">user_phone,</if>
        <if test="user_id != null and user_id != ''">user_id,</if>
        create_time
        )values(
        uuid(),
        <if test="IMEI != null and IMEI != ''">#{IMEI},</if>
        <if test="IMSI != null and IMSI != ''">#{IMSI},</if>
        <if test="phone_os != null and phone_os != ''">#{phone_os},</if>
        <if test="user_phone != null and user_phone != ''">#{user_phone},</if>
        <if test="user_id != null and user_id != ''">#{user_id},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="AppDeviceInfo">
        update t_app_device_info
        <set>
            <if test="IMEI != null and IMEI != ''">IMEI = #{IMEI},</if>
            <if test="IMSI != null and IMSI != ''">IMSI = #{IMSI},</if>
            <if test="phone_os != null and phone_os != ''">phone_os = #{phone_os},</if>
            <if test="user_phone != null and user_phone != ''">user_phone = #{user_phone},</if>
            <if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from t_app_device_info where id = #{id}
    </delete>

</mapper>