<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.mapper.AppDeviceInfoMapper">
    <resultMap type="AppDeviceInfo" id="baseResult">
        <id property="id" column="id"/>
        <result property="phone_type" column="phone_type"/>
        <result property="phone_version" column="phone_version"/>
        <result property="user_phone" column="user_phone"/>
        <result property="user_id" column="user_id"/>
    </resultMap>

    <sql id="selectVo">
        select
        id,phone_type,phone_version, user_phone,user_id,create_time
        from t_app_device_info
    </sql>

    <select id="list" parameterType="AppDeviceInfo" resultMap="baseResult">
        <include refid="selectVo"/>
        where 1=1
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="AppDeviceInfo">
        insert into t_app_device_info(
        id,
        <if test="phone_type != null and phone_type != ''">phone_type,</if>
        <if test="phone_version != null and phone_version != ''">phone_version,</if>
        <if test="user_phone != null and user_phone != ''">user_phone,</if>
        <if test="user_id != null and user_id != ''">user_id,</if>
        create_time
        )values(
        uuid(),
        <if test="phone_type != null and phone_type != ''">#{phone_type},</if>
        <if test="phone_version != null and phone_version != ''">#{phone_version},</if>
        <if test="user_phone != null and user_phone != ''">#{user_phone},</if>
        <if test="user_id != null and user_id != ''">#{user_id},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="AppDeviceInfo">
        update t_app_device_info
        <set>
            <if test="phone_type != null and phone_type != ''">phone_type = #{phone_type},</if>
            <if test="phone_version != null and phone_version != ''">phone_version = #{phone_version},</if>
            <if test="user_phone != null and user_phone != ''">user_phone = #{user_phone},</if>
            <if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from t_app_device_info where id = #{id}
    </delete>

</mapper>