<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.mapper.AppIdCardMapper">
    <resultMap type="AppIdCard" id="baseResult">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="real_name" column="real_name"/>
        <result property="id_card_num" column="id_card_num"/>
        <result property="id_card_photo_path1" column="id_card_photo_path1"/>
        <result property="id_card_photo_path2" column="id_card_photo_path2"/>
        <result property="id_card_photo_path3" column="id_card_photo_path3"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectVo">
        select
        id,
                    user_id,
                    real_name,
                    id_card_num,
                    id_card_photo_path1,
                    id_card_photo_path2,
                    id_card_photo_path3,
                    status,
                create_time
        from t_app_id_card
    </sql>

    <select id="list" parameterType="AppIdCard" resultMap="baseResult">
        <include refid="selectVo"/>
        <where>
            <if test="real_name != null and real_name != ''">
                AND real_name like concat('%', #{real_name}, '%')
            </if>
            <if test="id_card_num != null and id_card_num != ''">
                AND id_card_num like concat('%', #{id_card_num}, '%')
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <select id="selectByUid" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where user_id = #{user_id}
    </select>

    <insert id="insert" parameterType="AppIdCard">
        insert into t_app_id_card(
        id,
        <if test="user_id != null and user_id != ''">user_id,</if>
        <if test="real_name != null and real_name != ''">real_name,</if>
        <if test="id_card_num != null and id_card_num != ''">id_card_num,</if>
        <if test="id_card_photo_path1 != null and id_card_photo_path1 != ''">id_card_photo_path1,</if>
        <if test="id_card_photo_path2 != null and id_card_photo_path2 != ''">id_card_photo_path2,</if>
        <if test="id_card_photo_path3 != null and id_card_photo_path3 != ''">id_card_photo_path3,</if>
        <if test="status != null and status != ''">status,</if>
        create_time
        )values(
        uuid(),
        <if test="user_id != null and user_id != ''">#{user_id},</if>
        <if test="real_name != null and real_name != ''">#{real_name},</if>
        <if test="id_card_num != null and id_card_num != ''">#{id_card_num},</if>
        <if test="id_card_photo_path1 != null and id_card_photo_path1 != ''">#{id_card_photo_path1},</if>
        <if test="id_card_photo_path2 != null and id_card_photo_path2 != ''">#{id_card_photo_path2},</if>
        <if test="id_card_photo_path3 != null and id_card_photo_path3 != ''">#{id_card_photo_path3},</if>
        <if test="status != null and status != ''">#{status},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="AppIdCard">
        update t_app_id_card
        <set>
            <if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
            <if test="real_name != null and real_name != ''">real_name = #{real_name},</if>
            <if test="id_card_num != null and id_card_num != ''">id_card_num = #{id_card_num},</if>
            <if test="id_card_photo_path1 != null and id_card_photo_path1 != ''">id_card_photo_path1 = #{id_card_photo_path1},</if>
            <if test="id_card_photo_path2 != null and id_card_photo_path2 != ''">id_card_photo_path2 = #{id_card_photo_path2},</if>
            <if test="id_card_photo_path3 != null and id_card_photo_path3 != ''">id_card_photo_path3 = #{id_card_photo_path3},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from t_app_id_card where id = #{id}
    </delete>

</mapper>