<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwt.capability.mapper.SysCodeTypeMapper">

    <resultMap type="SysCodeType" id="baseResult">
        <id property="id" column="id"/>
        <result property="code_type_name" column="code_type_name"/>
        <result property="code_type_value" column="code_type_value"/>
    </resultMap>

    <sql id="selectVo">
        select id, code_type_name, code_type_value, create_time
        from t_sys_code_type
    </sql>

    <select id="list" parameterType="SysCodeType" resultMap="baseResult">
        <include refid="selectVo"/>
        where 1=1
        <if test="code_type_name != null and code_type_name != ''">
            AND code_type_name like concat('%', #{code_type_name}, '%')
        </if>
        <if test="code_type_value != null and code_type_value != ''">
            AND code_type_value like concat('%', #{code_type_value}, '%')
        </if>
        order by create_time
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="SysCodeType">
        insert into t_sys_code_type(
        <if test="id != null and id != ''">id,</if>
        <if test="code_type_name != null and code_type_name != ''">code_type_name,</if>
        <if test="code_type_value != null and code_type_value != ''">code_type_value,</if>
        create_time
        )values(
        <if test="id != null and id != ''">#{id},</if>
        <if test="code_type_name != null and code_type_name != ''">#{code_type_name},</if>
        <if test="code_type_value != null and code_type_value != ''">#{code_type_value},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="SysCodeType">
        update t_sys_code_type
        <set>
            <if test="code_type_name != null and code_type_name != ''">code_type_name = #{code_type_name},</if>
            <if test="code_type_value != null and code_type_value != ''">code_type_value = #{code_type_value},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from t_sys_code_type where id = #{id}
    </delete>

    <resultMap type="java.util.HashMap" id="treeResult">
        <result property="id" column="id"/>
        <result property="label" column="code_type_name"/>
    </resultMap>

    <select id="tree" resultMap="treeResult">
        select id, concat(code_type_name,'(',code_type_value,')')  as code_type_name from t_sys_code_type order by create_time desc
    </select>

</mapper>