<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwt.capability.mapper.SysRoleMapper">

    <resultMap type="SysRole" id="RoleResult">
        <id property="id" column="id"/>
        <result property="role_name" column="role_name"/>
        <result property="role_key" column="role_key"/>
        <result property="role_sort" column="role_sort"/>
        <result property="role_status" column="role_status"/>
        <result property="create_by" column="create_by"/>
        <result property="create_time" column="create_time"/>
        <result property="update_by" column="update_by"/>
        <result property="update_time" column="update_time"/>
    </resultMap>

    <sql id="selectRoleContactVo">
        select distinct r.id,
                        r.role_name,
                        r.role_key,
                        r.role_sort,
                        r.role_status,
                        r.create_time
        from t_sys_role r
                 left join t_sys_user_role ur on ur.role_id = r.id
                 left join t_sys_user u on u.id = ur.user_id
    </sql>

    <sql id="selectRoleVo">
        select r.id,
               r.role_name,
               r.role_key,
               r.role_sort,
               r.role_status,
               r.create_time
        from t_sys_role r
    </sql>

    <select id="list" parameterType="SysRole" resultMap="RoleResult">
        <include refid="selectRoleContactVo"/>
        where 1=1
        <if test="role_name != null and role_name != ''">
            AND r.role_name like concat('%', #{role_name}, '%')
        </if>
        <if test="role_key != null and role_key != ''">
            AND r.role_key like concat('%', #{role_key}, '%')
        </if>
    </select>

    <select id="listById" parameterType="String" resultMap="RoleResult">
        <include refid="selectRoleContactVo"/>
        WHERE ur.user_id = #{user_id}
    </select>

    <select id="selectById" parameterType="String" resultMap="RoleResult">
        <include refid="selectRoleVo"/>
        where r.id = #{id}
    </select>

    <select id="checkRoleNameUnique" parameterType="String" resultType="int">
        select count(1) from t_sys_role
        where role_name=#{role_name}
    </select>

    <select id="checkRoleKeyUnique" parameterType="String" resultType="int">
         select count(1) from t_sys_role
        where role_key=#{role_key}
    </select>

    <delete id="delete" parameterType="String">
        delete
        from t_sys_role
        where id = #{id}
    </delete>

    <update id="update" parameterType="SysRole">
        update t_sys_role
        <set>
            <if test="role_name != null and role_name != ''">role_name = #{role_name},</if>
            <if test="role_key != null and role_key != ''">role_key = #{role_key},</if>
            <if test="role_sort != null and role_sort != ''">role_sort = #{role_sort},</if>
            <if test="role_status != null and role_status != ''">role_status = #{role_status},</if>
            <if test="update_by != null and update_by != ''">update_by = #{update_by},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <insert id="insert" parameterType="SysRole">
        insert into t_sys_role(
        <if test="id != null and id != ''">id,</if>
        <if test="role_name != null and role_name != ''">role_name,</if>
        <if test="role_key != null and role_key != ''">role_key,</if>
        <if test="role_sort != null and role_sort != ''">role_sort,</if>
        <if test="role_status != null and role_status != ''">role_status,</if>
        <if test="create_by != null and create_by != ''">create_by,</if>
        create_time
        )values(
        <if test="id != null and id != ''">#{id},</if>
        <if test="role_name != null and role_name != ''">#{role_name},</if>
        <if test="role_key != null and role_key != ''">#{role_key},</if>
        <if test="role_sort != null and role_sort != ''">#{role_sort},</if>
        <if test="role_status != null and role_status != ''">#{role_status},</if>
        <if test="create_by != null and create_by != ''">#{create_by},</if>
        sysdate()
        )
    </insert>

</mapper> 