<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.mapper.AfterSaleMapper">
    <resultMap type="AfterSale" id="baseResult">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="p_user_id" column="p_user_id"/>
        <result property="goods_id" column="goods_id"/>
        <result property="order_id" column="order_id"/>
        <result property="complaint" column="complaint"/>
        <result property="reply" column="reply"/>
    </resultMap>

    <sql id="selectVo">
        select
        id,
                    user_id,
                    p_user_id,
                    goods_id,
                    order_id,
                    complaint,
                    reply,
                create_time
        from t_after_sale
    </sql>

    <select id="list" parameterType="AfterSale" resultMap="baseResult">
        <include refid="selectVo"/>
        <where>
        </where>
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="AfterSale">
        insert into t_after_sale(
        id,
        <if test="user_id != null and user_id != ''">user_id,</if>
        <if test="p_user_id != null and p_user_id != ''">p_user_id,</if>
        <if test="goods_id != null and goods_id != ''">goods_id,</if>
        <if test="order_id != null and order_id != ''">order_id,</if>
        <if test="complaint != null and complaint != ''">complaint,</if>
        <if test="reply != null and reply != ''">reply,</if>
        create_time
        )values(
        uuid(),
        <if test="user_id != null and user_id != ''">#{user_id},</if>
        <if test="p_user_id != null and p_user_id != ''">#{p_user_id},</if>
        <if test="goods_id != null and goods_id != ''">#{goods_id},</if>
        <if test="order_id != null and order_id != ''">#{order_id},</if>
        <if test="complaint != null and complaint != ''">#{complaint},</if>
        <if test="reply != null and reply != ''">#{reply},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="AfterSale">
        update t_after_sale
        <set>
            <if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
            <if test="p_user_id != null and p_user_id != ''">p_user_id = #{p_user_id},</if>
            <if test="goods_id != null and goods_id != ''">goods_id = #{goods_id},</if>
            <if test="order_id != null and order_id != ''">order_id = #{order_id},</if>
            <if test="complaint != null and complaint != ''">complaint = #{complaint},</if>
            <if test="reply != null and reply != ''">reply = #{reply},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from t_after_sale where id = #{id}
    </delete>

</mapper>