<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.mapper.TopCategoryMapper">
    <resultMap type="TopCategory" id="baseResult">
        <id property="id" column="id"/>
        <result property="top_goods_name" column="top_goods_name"/>
        <result property="top_goods_desc" column="top_goods_desc"/>
        <result property="top_goods_status" column="top_goods_status"/>
        <result property="top_goods_icon" column="top_goods_icon"/>
    </resultMap>

    <sql id="selectVo">
        select
        id,
                    top_goods_name,
                    top_goods_desc,
                    top_goods_status,
                    top_goods_icon,
                create_time
        from t_top_category
    </sql>

    <select id="list" parameterType="TopCategory" resultMap="baseResult">
        <include refid="selectVo"/>
        <where>
            <if test="top_goods_name != null and top_goods_name != ''">
                AND top_goods_name like concat('%', #{top_goods_name}, '%')
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="TopCategory">
        insert into t_top_category(
        id,
        <if test="top_goods_name != null and top_goods_name != ''">top_goods_name,</if>
        <if test="top_goods_desc != null and top_goods_desc != ''">top_goods_desc,</if>
        <if test="top_goods_status != null and top_goods_status != ''">top_goods_status,</if>
        <if test="top_goods_icon != null and top_goods_icon != ''">top_goods_icon,</if>
        create_time
        )values(
        uuid(),
        <if test="top_goods_name != null and top_goods_name != ''">#{top_goods_name},</if>
        <if test="top_goods_desc != null and top_goods_desc != ''">#{top_goods_desc},</if>
        <if test="top_goods_status != null and top_goods_status != ''">#{top_goods_status},</if>
        <if test="top_goods_icon != null and top_goods_icon != ''">#{top_goods_icon},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="TopCategory">
        update t_top_category
        <set>
            <if test="top_goods_name != null and top_goods_name != ''">top_goods_name = #{top_goods_name},</if>
            <if test="top_goods_desc != null and top_goods_desc != ''">top_goods_desc = #{top_goods_desc},</if>
            <if test="top_goods_status != null and top_goods_status != ''">top_goods_status = #{top_goods_status},</if>
            <if test="top_goods_icon != null and top_goods_icon != ''">top_goods_icon = #{top_goods_icon},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from t_top_category where id = #{id}
    </delete>

</mapper>