<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.attachment.mapper.FileAttachmentMapper">
    <resultMap type="FileAttachment" id="baseResult">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="file_extension" column="file_extension"/>
        <result property="file_size" column="file_size"/>
        <result property="file_name" column="file_name"/>
        <result property="file_path" column="file_path"/>
    </resultMap>

    <sql id="selectVo">
        select
        id,
                    uid,
                    file_extension,
                    file_size,
                    file_name,
                    file_path,
                create_time
        from t_file_attachment
    </sql>

    <select id="list" parameterType="FileAttachment" resultMap="baseResult">
        <include refid="selectVo"/>
        <where>
        </where>
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="FileAttachment">
        insert into t_file_attachment(
        id,
        <if test="uid != null and uid != ''">uid,</if>
        <if test="file_extension != null and file_extension != ''">file_extension,</if>
        <if test="file_size != null and file_size != ''">file_size,</if>
        <if test="file_name != null and file_name != ''">file_name,</if>
        <if test="file_path != null and file_path != ''">file_path,</if>
        create_time
        )values(
        uuid(),
        <if test="uid != null and uid != ''">#{uid},</if>
        <if test="file_extension != null and file_extension != ''">#{file_extension},</if>
        <if test="file_size != null and file_size != ''">#{file_size},</if>
        <if test="file_name != null and file_name != ''">#{file_name},</if>
        <if test="file_path != null and file_path != ''">#{file_path},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="FileAttachment">
        update t_file_attachment
        <set>
            <if test="uid != null and uid != ''">uid = #{uid},</if>
            <if test="file_extension != null and file_extension != ''">file_extension = #{file_extension},</if>
            <if test="file_size != null and file_size != ''">file_size = #{file_size},</if>
            <if test="file_name != null and file_name != ''">file_name = #{file_name},</if>
            <if test="file_path != null and file_path != ''">file_path = #{file_path},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from t_file_attachment where id = #{id}
    </delete>

</mapper>