<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.module.mapper.CommentMapper">
    <resultMap type="Comment" id="baseResult">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="anonymous" column="anonymous"/>
        <result property="order_id" column="order_id"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectVo">
        select id,
               user_id,
               anonymous,
               order_id,
               remark,
               create_time
        from t_comment
    </sql>

    <select id="list" parameterType="Comment" resultMap="baseResult">
        <include refid="selectVo"/>
        <where>
        </where>
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="Comment">
        insert into t_comment(
        id,
        <if test="user_id != null and user_id != ''">user_id,</if>
        <if test="anonymous != null and anonymous != ''">anonymous,</if>
        <if test="order_id != null and order_id != ''">order_id,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        uuid(),
        <if test="user_id != null and user_id != ''">#{user_id},</if>
        <if test="anonymous != null and anonymous != ''">#{anonymous},</if>
        <if test="order_id != null and order_id != ''">#{order_id},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="Comment">
        update t_comment
        <set>
            <if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
            <if test="anonymous != null and anonymous != ''">anonymous = #{anonymous},</if>
            <if test="order_id != null and order_id != ''">order_id = #{order_id},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete
        from t_comment
        where id = #{id}
    </delete>

</mapper>