<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.module.mapper.PaymentMapper">
    <resultMap type="Payment" id="baseResult">
        <id property="id" column="id"/>
        <result property="pay_status" column="pay_status"/>
        <result property="order_id" column="order_id"/>
        <result property="goods_id" column="goods_id"/>
        <result property="user_id" column="user_id"/>
        <result property="p_user_id" column="p_user_id"/>
        <result property="money" column="money"/>
        <result property="payment_no" column="payment_no"/>
        <result property="pay_type" column="pay_type"/>
        <result property="payment_seq_no" column="payment_seq_no"/>
    </resultMap>

    <sql id="selectVo">
        select id,
               pay_status,
               order_id,
               goods_id,
               user_id,
               p_user_id,
               money,
               payment_no,
               pay_type,
               payment_seq_no,
               create_time
        from t_payment
    </sql>

    <select id="list" parameterType="Payment" resultMap="baseResult">
        <include refid="selectVo"/>
        <where>
        </where>
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="Payment">
        insert into t_payment(
        id,
        <if test="pay_status != null and pay_status != ''">pay_status,</if>
        <if test="order_id != null and order_id != ''">order_id,</if>
        <if test="goods_id != null and goods_id != ''">goods_id,</if>
        <if test="user_id != null and user_id != ''">user_id,</if>
        <if test="p_user_id != null and p_user_id != ''">p_user_id,</if>
        <if test="money != null and money != ''">money,</if>
        <if test="payment_no != null and payment_no != ''">payment_no,</if>
        <if test="pay_type != null and pay_type != ''">pay_type,</if>
        <if test="payment_seq_no != null and payment_seq_no != ''">payment_seq_no,</if>
        create_time
        )values(
        uuid(),
        <if test="pay_status != null and pay_status != ''">#{pay_status},</if>
        <if test="order_id != null and order_id != ''">#{order_id},</if>
        <if test="goods_id != null and goods_id != ''">#{goods_id},</if>
        <if test="user_id != null and user_id != ''">#{user_id},</if>
        <if test="p_user_id != null and p_user_id != ''">#{p_user_id},</if>
        <if test="money != null and money != ''">#{money},</if>
        <if test="payment_no != null and payment_no != ''">#{payment_no},</if>
        <if test="pay_type != null and pay_type != ''">#{pay_type},</if>
        <if test="payment_seq_no != null and payment_seq_no != ''">#{payment_seq_no},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="Payment">
        update t_payment
        <set>
            <if test="pay_status != null and pay_status != ''">pay_status = #{pay_status},</if>
            <if test="order_id != null and order_id != ''">order_id = #{order_id},</if>
            <if test="goods_id != null and goods_id != ''">goods_id = #{goods_id},</if>
            <if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
            <if test="p_user_id != null and p_user_id != ''">p_user_id = #{p_user_id},</if>
            <if test="money != null and money != ''">money = #{money},</if>
            <if test="payment_no != null and payment_no != ''">payment_no = #{payment_no},</if>
            <if test="pay_type != null and pay_type != ''">pay_type = #{pay_type},</if>
            <if test="payment_seq_no != null and payment_seq_no != ''">payment_seq_no = #{payment_seq_no},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete
        from t_payment
        where id = #{id}
    </delete>

</mapper>