<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanling.dreamland.module.mapper.StaffCommentMapper">
    <resultMap type="StaffComment" id="baseResult">
        <id property="id" column="id"/>
        <result property="order_id" column="order_id"/>
        <result property="user_id" column="user_id"/>
        <result property="title" column="title"/>
        <result property="user_name" column="user_name"/>
        <result property="count" column="count"/>
        <result property="person_comment" column="person_comment"/>
    </resultMap>

    <sql id="selectVo">
        select id,
               order_id,
               title,
               user_id,
               user_name,
               count,
               person_comment
        from t_staff_comment
    </sql>

    <select id="list" parameterType="StaffComment" resultMap="baseResult">
        <include refid="selectVo"/>
        <where>
        </where>
    </select>

    <select id="selectById" parameterType="String" resultMap="baseResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="StaffComment">
        insert into t_staff_comment(
        id,
        <if test="order_id != null and order_id != ''">order_id,</if>
        <if test="title != null and title != ''">title,</if>
        <if test="user_name != null and user_name != ''">user_name,</if>
        <if test="count != null and count != ''">count,</if>
        <if test="user_id != null and user_id != ''">user_id,</if>
        <if test="person_comment != null and person_comment != ''">person_comment,</if>
        create_time
        )values(
        uuid(),
        <if test="order_id != null and order_id != ''">#{order_id},</if>
        <if test="title != null and title != ''">#{title},</if>
        <if test="user_name != null and user_name != ''">#{user_name},</if>
        <if test="count != null and count != ''">#{count},</if>
        <if test="user_id != null and user_id != ''">#{user_id},</if>
        <if test="person_comment != null and person_comment != ''">#{person_comment},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="StaffComment">
        update t_staff_comment
        <set>
            <if test="order_id != null and order_id != ''">order_id = #{order_id},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="user_name != null and user_name != ''">user_name = #{user_name},</if>
            <if test="count != null and count != ''">count = #{count},</if>
            <if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
            <if test="person_comment != null and person_comment != ''">person_comment = #{person_comment},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete
        from t_staff_comment
        where id = #{id}
    </delete>

</mapper>